  .gradient-text-red-orange {
    background-image: linear-gradient(to right, #FF7A00, #F73301);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .gradient-text-blue-purple {
    background-image: linear-gradient(to right, #028DDC, #8000FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }